div {
    margin: 0.3em;
}
.rows {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content;
    background: gainsboro;
}
.table {
    grid-column-start: 1;
    grid-column-end: 9;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 5px;
    padding: 5px;
    background: antiquewhite;
}
button{
    font-family: monospace;
    font-weight: bold;
}

.dropdown {
    position: relative;
    /*width: 200px;*/
}

.dropdown select {
    width: 100%;
}

.dropdown > * {
    box-sizing: border-box;
    height: 1.5em;
}

.dropdown input {
    position: absolute;
    width: calc(100% - 20px);
}