div {
    margin: 0.3em;
}
.control, .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr;
    background: gainsboro;
}
button{
    font-family: monospace;
    font-weight: bold;
}